/* universal styles */

body {
    margin: 0;
    font-family: bilo;
}
a {
    text-decoration: none;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif
}

/* grid styles */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.col {
    display: grid;
    grid-template-columns: 1fr;
}
.col1-2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.col-3 {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%; 
}

/* header styles */

.navigation {
    display: grid;
    justify-content: space-between;
    grid-template-columns: min-content min-content;
    align-items: center;
}
.header {
    padding: 20px;
    box-shadow: 0 0 10px #888888;
}
.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    white-space: nowrap;
    text-align: right;
    font-weight: 100;
}
.nav-image {
    text-align: left;
}
.nav a {
    color: black;
    padding: 0 10px;    
}
.nav button {
    display: none;
    text-align: right;
}
.material-symbols-outlined {  
    font-variation-settings:  
        'FILL' 1,  
        'wght' 400,  
        'GRAD' 0,  
        'opsz' 24
}

/* hero styles */

.hero {
    padding: 32px;
    background-size: cover;
    background-image: url('../images/hero-image.jpg');
    height: 560px;
    position: relative;
    margin-bottom: 20px;
}
.hero-text {
    margin-left: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.hero-headline-style {
    font-size: 40px;
    max-width: 420px;
    margin-bottom: 0px;
    font-family: Interstate;
}
.hero-subhead-style {
    font-size: 21px;
    max-width: 352px;
}
.cta-button {
    display: table-cell;
    background-color: #AC0A21;
    color: #ffff;
    width: 260px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    font-weight:900;
    margin-top: 20px;
}

/* menu styles */

.Header-2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: Interstate;
    margin-top: 20px;
}
.hr1 {
    width: 350px;
    color: #B1BDAF;
}
.hr2 {
    color: #ffff;
    width: 301px;
    margin-top: 20px;
}

/* card styles */

.card {
    background-color: #B1BDAF;
    max-width: 33%;
    padding-left: 26px;
    padding-top: 26px;
    padding-right: 26px;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.card-images {
    max-width: 301px;
}
.card-text {
    font-size: 20px;
    color: #ffff;
}
.card-cta {
    text-decoration: underline;
    color: #ffff;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-size: 18px;
}
.card-button {
    margin-top: 40px;
    text-align: center;
    vertical-align: middle
}
.card-button-text {
    background-color: #AC0A21;
    color: #ffff;
    text-decoration: none;
    margin-left: auto;
    margin-top: 40px;
    margin-right: auto;
    padding: 20px 40px;
    width: 260px;
    height: 60px;
}
.card-style {
    align-items: center;
    text-align: left;
    margin-left: auto;
    margin-top: 40px;
    margin-right: auto;
    border-spacing: 20px;
}

/* awards section */

.gradient {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 100%;
    height: 70px;
    background: linear-gradient(#FFFF, #B1BDAF)
}
.green-box {
    background-color: #B1BDAF;
    max-width: 100%;
    height: 500px;
}
.michelin-star {
    padding-left: 100px;
    max-width: 300px; 
    height: auto;
    vertical-align: middle;
}
.old-man {
   padding-left: 44px;
   max-width: 300px;
   padding-top: 40px;
   vertical-align: middle;
}
.white-box {
    background-color: #FFFF;
    max-width: 100%;
    height: 230px;
}
.awards-images {
    margin-top: 70px;
    vertical-align: middle;
}
.awards-headline {
    font-size: 30pt;
    font-weight: bold;
    color: #FFFF;
    font-family: interstate;
    margin-bottom: 12px;
}
.awards-text {
    padding-right: 100px;
    margin-top: 0;
    color: #FFFF;
    font-size: 15pt;
}

/* footer styles */

.footer-background {
    background-color: #FFFF;
    height: 231px;
}
.footer-logo {
    height: 69px;
    padding-left: 139px;
    padding-top: 76px;
    padding-bottom: 76px;
}
.hr3 {
    height: 122px;
    width: 0px;
    margin: 0;
    margin-top: 50px;
    text-align: right;
}
.footer-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 56px;
}
.footer-headline {
    margin-top: 0px;
}
.footer-text {
    text-align: left;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight:lighter;
    vertical-align: middle;
}
.socials {
    text-align: center;
    margin-top: 75px;
}
.icons {
    margin-left: 21px;
}
.footer-a {
    text-decoration: none;
    color: black;
    font-family: bilo;
}

/* fancy stuff */

@media screen and (max-width: 648px) {
    .nav a {
        display: none;
    }
    .nav button {
        display: inline;
    }
    .navigation {
        grid-template-columns: 1fr 1fr;
        text-align: right;
    }
    .col-3 {
        grid-template-columns: 1fr;
    }
    .hero-text {
        margin-left: 0px;

    }
    .nav {
        grid-template-columns: 1fr;
    }
    .awards-text {
        padding-right: 0px;
    }
     .awards-text {
        font-size: 15px;
    }
    .awards-headline {
        font-size: 20pt;
        margin: 40px;
        margin-bottom: 5px;
    }
    .green-box {
        background-color: #B1BDAF;
        max-width: 100%;
        height: 630px;
    }
    .footer-logo {
        height: auto;
        padding-left: 20px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .footer-text {
        
        margin-left: 40px;
        margin-right: auto;
        font-size: 15px;
        text-align: left;
        font-weight:lighter;
        vertical-align: middle;
    }
    .awards-text {
        font-size: 15px;
        margin: 40;
    }
    .col1-2 {
    display: grid;
    grid-template-columns:1fr;
    }
    .old-man {
        padding-left: 20px;
        padding-top: 20px;
     }
     .awards-text {
        font-size: 15px;
        margin: 40px;
        margin-top: 10px;
    }
    .footer-headline {
        margin-left: 40px;
    }
    
    

}